body { 
    font: 13px Helvetica, Arial;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background: #222;
    font-size: 200%;
    overflow: hidden;
}


#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    color: #fff;
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #333; 
}
